In this exercise, we are dealing with the temperature data at Blackford hill. As usual, I downloaded the CSV file and put it in my computer. I think they are csv files so we will load them using pd. But then, I realise that there are 108 of them so it's a question of how to read multiple csv files

In [29]:
import pandas as pd

df = pd.read_csv("edinburgh_temperatures/midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1897.csv", on_bad_lines='skip')
df

,Conventions,G,BADC-CSV,1
0,title,G,uk-daily-temperature-obs,NaN
1,source,G,Met Office MIDAS database,NaN
2,creator,G,Met Office,NaN
3,activity,G,Met Office MIDAS Open: UK Land Surface Station...,NaN
4,feature_type,G,point series,NaN
...,...,...,...,...
85,long_name,midas_stmp_etime,elapsed time to storage in MIDAS,minutes
86,type,midas_stmp_etime,int,NaN
87,comments,midas_stmp_etime,elapsed time to storage in MIDAS in minutes,NaN
88,data,NaN,NaN,NaN
89,end data,NaN,NaN,NaN

In [13]:
# #x = list(range(0,5)) #This prints [0,1,2,3,4]
# x = list(range(0,91))
# #print(x)
# number_of_lines = sum(1 for line in open ("edinburgh_temperatures/midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1897.csv"))#This is to read the number of lines

# print(number_of_lines)
# #When run, this returns 457 meaning 457 lines present
# #Then we now create a variable to exclude those lines
# to_exclude = [i for i in range(number_of_lines) if i not in x]
# df = pd.read_csv("edinburgh_temperatures/midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1897.csv", skiprows= to_exclude)
# df

457

ParserError: Error tokenizing data. C error: Expected 4 fields in line 91, saw 22

In [30]:
#df = pd.read_csv("edinburgh_temperatures/midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1897.csv", sep='delimiter', header=None)
#This transforms the data into something completely different
df = pd.read_csv("edinburgh_temperatures/midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1897.csv", skiprows = 90)
n = 1
df.drop(df.tail(n).index,inplace = True)# This deletes the last n rows. To delete the first n rows, replace the .tail with .head
#df.drop(index = [1,90])
df.tail(20)
#This works for one. Now thing about how to do multiple of them!
#len(df)# This returns 366 data points which makes since it was 457 (I think) then we removed 90 of them

,ob_end_time,id_type,id,ob_hour_count,version_num,met_domain_name,src_id,rec_st_ind,max_air_temp,min_air_temp,...,max_air_temp_q,min_air_temp_q,min_grss_temp_q,min_conc_temp_q,max_air_temp_j,min_air_temp_j,min_grss_temp_j,min_conc_temp_j,meto_stmp_time,midas_stmp_etime
345,1897-12-12 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,5.0,1.1,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
346,1897-12-13 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,3.3,0.0,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
347,1897-12-14 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,6.1,1.7,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
348,1897-12-15 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,9.4,2.2,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
349,1897-12-16 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,7.2,2.8,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
350,1897-12-17 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,12.2,7.2,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
351,1897-12-18 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,11.7,5.0,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
352,1897-12-19 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,10.0,2.2,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
353,1897-12-20 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,5.0,0.6,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
354,1897-12-21 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,4.4,0.0,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
355,1897-12-22 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,4.4,-2.2,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
356,1897-12-23 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,2.2,-3.3,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
357,1897-12-24 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,2.8,-1.1,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
358,1897-12-25 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,6.1,0.0,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
359,1897-12-26 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,8.3,3.3,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
360,1897-12-27 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,11.1,5.6,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
361,1897-12-28 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,12.2,5.0,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
362,1897-12-29 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,8.9,2.2,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
363,1897-12-30 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,11.1,6.1,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
364,1897-12-31 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,11.1,3.3,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
import glob
path = "edinburgh_temperatures"
all_csv_files = glob.glob(path + "/*.csv")
all_csv_files # When we check the length, it returns 108. But checking the list, it is the titles of all the csv files present in that folder

['edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1896.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1897.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1898.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1899.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1900.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1901.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1902.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1903.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1904.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1905.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1906.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1907.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1908.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1909.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1910.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1911.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1912.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1913.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1914.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1915.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1916.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1917.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1918.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1919.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1920.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1921.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1922.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1923.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1924.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1925.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1926.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1927.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1928.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1929.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1930.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1931.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1932.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1933.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1934.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1935.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1936.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1937.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1938.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1939.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1940.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1941.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1942.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1943.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1944.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1945.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1946.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1947.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1948.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1949.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1950.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1951.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1952.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1953.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1954.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1955.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1956.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1957.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1958.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1959.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1960.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1961.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1962.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1963.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1964.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1965.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1966.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1967.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1968.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1969.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1970.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1971.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1972.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1973.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1974.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1975.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1976.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1977.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1978.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1979.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1980.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1981.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1982.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1983.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1984.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1985.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1986.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1987.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1988.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1989.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1990.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1991.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1992.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1993.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1994.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1995.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1996.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1997.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1998.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_1999.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_2000.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_2001.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_2002.csv',
 'edinburgh_temperatures\\midas-open_uk-daily-temperature-obs_dv-202207_midlothian-in-lothian-region_00251_edinburgh-blackford-hill_qcv-1_2003.csv']

In [32]:
#Next, we now use the li mapper method. We could opt for the for loop but it is slightly slower. We will implement it below just to compare for reference purposes
li_mapper = map(lambda filename: pd.read_csv(filename, index_col=None, header=0, skiprows=90),all_csv_files)
type(li_mapper) #This returns a map datatype So now we need to convert the map into a list then concatenate this

map

In [5]:
li_2 = list(li_mapper)
type(li_2)#When run, this returns list datatype

list

In [6]:
li_2

[             ob_end_time id_type      id  ob_hour_count  version_num  \
 0    1896-01-01 09:00:00    DCNN  1646.0           24.0          1.0
 1    1896-01-02 09:00:00    DCNN  1646.0           24.0          1.0
 2    1896-01-03 09:00:00    DCNN  1646.0           24.0          1.0
 3    1896-01-04 09:00:00    DCNN  1646.0           24.0          1.0
 4    1896-01-05 09:00:00    DCNN  1646.0           24.0          1.0
 ..                   ...     ...     ...            ...          ...
 362  1896-12-28 09:00:00    DCNN  1646.0           24.0          1.0
 363  1896-12-29 09:00:00    DCNN  1646.0           24.0          1.0
 364  1896-12-30 09:00:00    DCNN  1646.0           24.0          1.0
 365  1896-12-31 09:00:00    DCNN  1646.0           24.0          1.0
 366             end data     NaN     NaN            NaN          NaN

     met_domain_name  src_id  rec_st_ind  max_air_temp  min_air_temp  ...  \
 0           DLY3208   251.0      1001.0           NaN           5.6  ...
 1           DLY3208   251.0      1001.0          10.6           8.9  ...
 2           DLY3208   251.0      1001.0          11.1           5.6  ...
 3           DLY3208   251.0      1001.0           8.9           4.4  ...
 4           DLY3208   251.0      1001.0           7.2           2.8  ...
 ..              ...     ...         ...           ...           ...  ...
 362         DLY3208   251.0      1001.0           5.6           1.7  ...
 363         DLY3208   251.0      1001.0           4.4           1.1  ...
 364         DLY3208   251.0      1001.0           8.3           3.3  ...
 365         DLY3208   251.0      1001.0          11.1           5.0  ...
 366             NaN     NaN         NaN           NaN           NaN  ...

      max_air_temp_q  min_air_temp_q  min_grss_temp_q  min_conc_temp_q  \
 0               NaN             9.0              0.0              0.0
 1               9.0             9.0              0.0              0.0
 2               9.0             9.0              0.0              0.0
 3               9.0             9.0              0.0              0.0
 4               9.0             9.0              0.0              0.0
 ..              ...             ...              ...              ...
 362             9.0             9.0              0.0              0.0
 363             9.0             9.0              0.0              0.0
 364             9.0             9.0              0.0              0.0
 365             9.0             9.0              0.0              0.0
 366             NaN             NaN              NaN              NaN

      max_air_temp_j  min_air_temp_j  min_grss_temp_j  min_conc_temp_j  \
 0               NaN             NaN              NaN              NaN
 1               NaN             NaN              NaN              NaN
 2               NaN             NaN              NaN              NaN
 3               NaN             NaN              NaN              NaN
 4               NaN             NaN              NaN              NaN
 ..              ...             ...              ...              ...
 362             NaN             NaN              NaN              NaN
 363             NaN             NaN              NaN              NaN
 364             NaN             NaN              NaN              NaN
 365             NaN             NaN              NaN              NaN
 366             NaN             NaN              NaN              NaN

      meto_stmp_time  midas_stmp_etime
 0               NaN               NaN
 1               NaN               NaN
 2               NaN               NaN
 3               NaN               NaN
 4               NaN               NaN
 ..              ...               ...
 362             NaN               NaN
 363             NaN               NaN
 364             NaN               NaN
 365             NaN               NaN
 366             NaN               NaN

 [367 rows x 22 columns],
              ob_end_time id_type      id  ob_hour_count  version_num  \
 0    1897-01-01 09:00:00    DCNN  1646.0           24.0          1.0
 1    1897-01-02 09:00:00    DCNN  1646.0           24.0          1.0
 2    1897-01-03 09:00:00    DCNN  1646.0           24.0          1.0
 3    1897-01-04 09:00:00    DCNN  1646.0           24.0          1.0
 4    1897-01-05 09:00:00    DCNN  1646.0           24.0          1.0
 ..                   ...     ...     ...            ...          ...
 361  1897-12-28 09:00:00    DCNN  1646.0           24.0          1.0
 362  1897-12-29 09:00:00    DCNN  1646.0           24.0          1.0
 363  1897-12-30 09:00:00    DCNN  1646.0           24.0          1.0
 364  1897-12-31 09:00:00    DCNN  1646.0           24.0          1.0
 365             end data     NaN     NaN            NaN          NaN

     met_domain_name  src_id  rec_st_ind  max_air_temp  min_air_temp  ...  \
 0           DLY3208   251.0      1001.0          10.0           1.7  ...
 1           DLY3208   251.0      1001.0          10.0           3.3  ...
 2           DLY3208   251.0      1001.0           6.1           3.3  ...
 3           DLY3208   251.0      1001.0           7.8           3.9  ...
 4           DLY3208   251.0      1001.0           8.3           1.7  ...
 ..              ...     ...         ...           ...           ...  ...
 361         DLY3208   251.0      1001.0          12.2           5.0  ...
 362         DLY3208   251.0      1001.0           8.9           2.2  ...
 363         DLY3208   251.0      1001.0          11.1           6.1  ...
 364         DLY3208   251.0      1001.0          11.1           3.3  ...
 365             NaN     NaN         NaN           NaN           NaN  ...

      max_air_temp_q  min_air_temp_q  min_grss_temp_q  min_conc_temp_q  \
 0               9.0             9.0              0.0              0.0
 1               9.0             9.0              0.0              0.0
 2               9.0             9.0              0.0              0.0
 3               9.0             9.0              0.0              0.0
 4               9.0             9.0              0.0              0.0
 ..              ...             ...              ...              ...
 361             9.0             9.0              0.0              0.0
 362             9.0             9.0              0.0              0.0
 363             9.0             9.0              0.0              0.0
 364             9.0             9.0              0.0              0.0
 365             NaN             NaN              NaN              NaN

      max_air_temp_j  min_air_temp_j  min_grss_temp_j  min_conc_temp_j  \
 0               NaN             NaN              NaN              NaN
 1               NaN             NaN              NaN              NaN
 2               NaN             NaN              NaN              NaN
 3               NaN             NaN              NaN              NaN
 4               NaN             NaN              NaN              NaN
 ..              ...             ...              ...              ...
 361             NaN             NaN              NaN              NaN
 362             NaN             NaN              NaN              NaN
 363             NaN             NaN              NaN              NaN
 364             NaN             NaN              NaN              NaN
 365             NaN             NaN              NaN              NaN

      meto_stmp_time  midas_stmp_etime
 0               NaN               NaN
 1               NaN               NaN
 2               NaN               NaN
 3               NaN               NaN
 4               NaN               NaN
 ..              ...               ...
 361             NaN               NaN
 362             NaN               NaN
 363             NaN               NaN
 364             NaN               NaN
 365             NaN               NaN

 [366 rows x 22 columns],
              ob_end_time id_type      id  ob_hour_count  version_num  \
 0    1898-01-01 09:00:00    DCNN  1646.0           24.0          1.0
 1    1898-01-02 09:00:00    DCNN  1646.0           24.0          1.0
 2    1898-01-03 09:00:00    DCNN  1646.0           24.0          1.0
 3    1898-01-04 09:00:00    DCNN  1646.0           24.0          1.0
 4    1898-01-05 09:00:00    DCNN  1646.0           24.0          1.0
 ..                   ...     ...     ...            ...          ...
 361  1898-12-28 09:00:00    DCNN  1646.0           24.0          1.0
 362  1898-12-29 09:00:00    DCNN  1646.0           24.0          1.0
 363  1898-12-30 09:00:00    DCNN  1646.0           24.0          1.0
 364  1898-12-31 09:00:00    DCNN  1646.0           24.0          1.0
 365             end data     NaN     NaN            NaN          NaN

     met_domain_name  src_id  rec_st_ind  max_air_temp  min_air_temp  ...  \
 0           DLY3208   251.0      1001.0           7.2           1.7  ...
 1           DLY3208   251.0      1001.0           6.7           2.8  ...
 2           DLY3208   251.0      1001.0           5.6           2.8  ...
 3           DLY3208   251.0      1001.0           6.1           2.2  ...
 4           DLY3208   251.0      1001.0           8.3           1.7  ...
 ..              ...     ...         ...           ...           ...  ...
 361         DLY3208   251.0      1001.0          11.7           2.8  ...
 362         DLY3208   251.0      1001.0           6.1           0.6  ...
 363         DLY3208   251.0      1001.0           5.0          -0.6  ...
 364         DLY3208   251.0      1001.0           3.9          -3.3  ...
 365             NaN     NaN         NaN           NaN           NaN  ...

      max_air_temp_q  min_air_temp_q  min_grss_temp_q  min_conc_temp_q  \
 0               9.0             9.0              0.0              0.0
 1               9.0             9.0              0.0              0.0
 2               9.0             9.0              0.0              0.0
 3               9.0             9.0              0.0              0.0
 4               9.0             9.0              0.0              0.0
 ..              ...             ...              ...              ...
 361             9.0             9.0              0.0              0.0
 362             9.0             9.0              0.0              0.0
 363             9.0             9.0              0.0              0.0
 364             9.0             9.0              0.0              0.0
 365             NaN             NaN              NaN              NaN

      max_air_temp_j  min_air_temp_j  min_grss_temp_j  min_conc_temp_j  \
 0               NaN             NaN              NaN              NaN
 1               NaN             NaN              NaN              NaN
 2               NaN             NaN              NaN              NaN
 3               NaN             NaN              NaN              NaN
 4               NaN             NaN              NaN              NaN
 ..              ...             ...              ...              ...
 361             NaN             NaN              NaN              NaN
 362             NaN             NaN              NaN              NaN
 363             NaN             NaN              NaN              NaN
 364             NaN             NaN              NaN              NaN
 365             NaN             NaN              NaN              NaN

      meto_stmp_time  midas_stmp_etime
 0               NaN               NaN
 1               NaN               NaN
 2               NaN               NaN
 3               NaN               NaN
 4               NaN               NaN
 ..              ...               ...
 361             NaN               NaN
 362             NaN               NaN
 363             NaN               NaN
 364             NaN               NaN
 365             NaN               NaN

 [366 rows x 22 columns],
              ob_end_time id_type      id  ob_hour_count  version_num  \
 0    1899-01-01 09:00:00    DCNN  1646.0           24.0          1.0
 1    1899-01-02 09:00:00    DCNN  1646.0           24.0          1.0
 2    1899-01-03 09:00:00    DCNN  1646.0           24.0          1.0
 3    1899-01-04 09:00:00    DCNN  1646.0           24.0          1.0
 4    1899-01-05 09:00:00    DCNN  1646.0           24.0          1.0
 ..                   ...     ...     ...            ...          ...
 361  1899-12-28 09:00:00    DCNN  1646.0           24.0          1.0
 362  1899-12-29 09:00:00    DCNN  1646.0           24.0          1.0
 363  1899-12-30 09:00:00    DCNN  1646.0           24.0          1.0
 364  1899-12-31 09:00:00    DCNN  1646.0           24.0          1.0
 365             end data     NaN     NaN            NaN          NaN

     met_domain_name  src_id  rec_st_ind  max_air_temp  min_air_temp  ...  \
 0           DLY3208   251.0      1001.0           3.9           0.0  ...
 1           DLY3208   251.0      1001.0           3.9           0.0  ...
 2           DLY3208   251.0      1001.0           3.9           1.7  ...
 3           DLY3208   251.0      1001.0           8.3           2.2  ...
 4           DLY3208   251.0      1001.0          10.0           2.2  ...
 ..              ...     ...         ...           ...           ...  ...
 361         DLY3208   251.0      1001.0          -0.6          -3.9  ...
 362         DLY3208   251.0      1001.0           3.3          -0.6  ...
 363         DLY3208   251.0      1001.0           4.4           1.7  ...
 364         DLY3208   251.0      1001.0           5.6           2.2  ...
 365             NaN     NaN         NaN           NaN           NaN  ...

      max_air_temp_q  min_air_temp_q  min_grss_temp_q  min_conc_temp_q  \
 0               9.0             9.0              0.0              0.0
 1               9.0             9.0              0.0              0.0
 2               9.0             9.0              0.0              0.0
 3               9.0             9.0              0.0              0.0
 4               9.0             9.0              0.0              0.0
 ..              ...             ...              ...              ...
 361             9.0             9.0              0.0              0.0
 362             9.0             9.0              0.0              0.0
 363             9.0             9.0              0.0              0.0
 364             9.0             9.0              0.0              0.0
 365             NaN             NaN              NaN              NaN

      max_air_temp_j  min_air_temp_j  min_grss_temp_j  min_conc_temp_j  \
 0               NaN             NaN              NaN              NaN
 1               NaN             NaN              NaN              NaN
 2               NaN             NaN              NaN              NaN
 3               NaN             NaN              NaN              NaN
 4               NaN             NaN              NaN              NaN
 ..              ...             ...              ...              ...
 361             NaN             NaN              NaN              NaN
 362             NaN             NaN              NaN              NaN
 363             NaN             NaN              NaN              NaN
 364             NaN             NaN              NaN              NaN
 365             NaN             NaN              NaN              NaN

      meto_stmp_time  midas_stmp_etime
 0               NaN               NaN
 1               NaN               NaN
 2               NaN               NaN
 3               NaN               NaN
 4               NaN               NaN
 ..              ...               ...
 361             NaN               NaN
 362             NaN               NaN
 363             NaN               NaN
 364             NaN               NaN
 365             NaN               NaN

 [366 rows x 22 columns],
              ob_end_time id_type      id  ob_hour_count  version_num  \
 0    1900-01-01 09:00:00    DCNN  1646.0           24.0          1.0
 1    1900-01-02 09:00:00    DCNN  1646.0           24.0          1.0
 2    1900-01-03 09:00:00    DCNN  1646.0           24.0          1.0
 3    1900-01-04 09:00:00    DCNN  1646.0           24.0          1.0
 4    1900-01-05 09:00:00    DCNN  1646.0           24.0          1.0
 ..                   ...     ...     ...            ...          ...
 361  1900-12-28 09:00:00    DCNN  1646.0           24.0          1.0
 362  1900-12-29 09:00:00    DCNN  1646.0           24.0          1.0
 363  1900-12-30 09:00:00    DCNN  1646.0           24.0          1.0
 364  1900-12-31 09:00:00    DCNN  1646.0           24.0          1.0
 365             end data     NaN     NaN            NaN          NaN

     met_domain_name  src_id  rec_st_ind  max_air_temp  min_air_temp  ...  \
 0           DLY3208   251.0      1001.0           4.4           0.6  ...
 1           DLY3208   251.0      1001.0           3.9           0.6  ...
 2           DLY3208   251.0      1001.0           5.0           2.2  ...
 3           DLY3208   251.0      1001.0           5.6           1.7  ...
 4           DLY3208   251.0      1001.0           3.9           0.6  ...
 ..              ...     ...         ...           ...           ...  ...
 361         DLY3208   251.0      1001.0           3.9           2.8  ...
 362         DLY3208   251.0      1001.0           5.0           1.7  ...
 363         DLY3208   251.0      1001.0           5.6           0.0  ...
 364         DLY3208   251.0      1001.0           5.6           2.2  ...
 365             NaN     NaN         NaN           NaN           NaN  ...

      max_air_temp_q  min_air_temp_q  min_grss_temp_q  min_conc_temp_q  \
 0               9.0             9.0              0.0              0.0
 1               9.0             9.0              0.0              0.0
 2               9.0             9.0              0.0              0.0
 3               9.0             9.0              0.0              0.0
 4               9.0             9.0              0.0              0.0
 ..              ...             ...              ...              ...
 361             9.0             9.0              0.0              0.0
 362             9.0             9.0              0.0              0.0
 363             9.0             9.0              0.0              0.0
 364             9.0             9.0              0.0              0.0
 365             NaN             NaN              NaN              NaN

      max_air_temp_j  min_air_temp_j  min_grss_temp_j  min_conc_temp_j  \
 0               NaN             NaN              NaN              NaN
 1               NaN             NaN              NaN              NaN
 2               NaN             NaN              NaN              NaN
 3               NaN             NaN              NaN              NaN
 4               NaN             NaN              NaN              NaN
 ..              ...             ...              ...              ...
 361             NaN             NaN              NaN              NaN
 362             NaN             NaN              NaN              NaN
 363             NaN             NaN              NaN              NaN
 364             NaN             NaN              NaN              NaN
 365             NaN             NaN              NaN              NaN

      meto_stmp_time  midas_stmp_etime
 0               NaN               NaN
 1               NaN               NaN
 2               NaN               NaN
 3               NaN               NaN
 4               NaN               NaN
 ..              ...               ...
 361             NaN               NaN
 362             NaN               NaN
 363             NaN               NaN
 364             NaN               NaN
 365             NaN               NaN

 [366 rows x 22 columns],
              ob_end_time id_type      id  ob_hour_count  version_num  \
 0    1901-01-01 09:00:00    DCNN  1646.0           24.0          1.0
 1    1901-01-02 09:00:00    DCNN  1646.0           24.0          1.0
 2    1901-01-03 09:00:00    DCNN  1646.0           24.0          1.0

In [7]:
df = pd.concat(li_2, axis=0, ignore_index=True)
df

,ob_end_time,id_type,id,ob_hour_count,version_num,met_domain_name,src_id,rec_st_ind,max_air_temp,min_air_temp,...,max_air_temp_q,min_air_temp_q,min_grss_temp_q,min_conc_temp_q,max_air_temp_j,min_air_temp_j,min_grss_temp_j,min_conc_temp_j,meto_stmp_time,midas_stmp_etime
0,1896-01-01 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,NaN,5.6,...,NaN,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1896-01-02 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,10.6,8.9,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1896-01-03 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,11.1,5.6,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1896-01-04 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,8.9,4.4,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1896-01-05 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,7.2,2.8,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38945,2003-05-29 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1011.0,17.2,11.6,...,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,2003-06-12 15:32:00,9.0
38946,2003-05-30 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1011.0,20.0,12.2,...,6.0,6.0,6.0,NaN,NaN,NaN,NaN,NaN,2003-06-12 15:32:00,9.0
38947,2003-05-31 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1011.0,17.7,10.5,...,6.0,6.0,6.0,NaN,NaN,NaN,NaN,NaN,2003-06-12 15:32:00,9.0
38948,2003-06-01 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1011.0,24.2,NaN,...,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003-06-12 15:32:00,9.0
38949,end data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Actually, setting the li-mapper method aside for a minute and looking into the basic for loop

In [34]:
li = []
n = 1
for filename in all_csv_files:
    df = pd.read_csv(filename, index_col=None, header = 0, skiprows=90)
    df.drop(df.tail(n).index,inplace = True)# With this extra line, we expect the number of rows to move from 38950 to 28950-108 since we have 108 csv files, each we are removing the last line. When run, it reduces to 38842 which is exactly what we would want to have
    li.append(df) # This stores all the read data into the empty list that we created before

df = pd.concat(li, axis = 0, ignore_index=True) #To convert it back to a dataframe, we use the .concat method which is provided for in pandas.
df

#This works perfect, but apparently its not the fastest.

,ob_end_time,id_type,id,ob_hour_count,version_num,met_domain_name,src_id,rec_st_ind,max_air_temp,min_air_temp,...,max_air_temp_q,min_air_temp_q,min_grss_temp_q,min_conc_temp_q,max_air_temp_j,min_air_temp_j,min_grss_temp_j,min_conc_temp_j,meto_stmp_time,midas_stmp_etime
0,1896-01-01 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,NaN,5.6,...,NaN,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1896-01-02 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,10.6,8.9,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1896-01-03 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,11.1,5.6,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1896-01-04 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,8.9,4.4,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1896-01-05 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,7.2,2.8,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38837,2003-05-28 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1011.0,16.3,13.0,...,6.0,6.0,6.0,NaN,NaN,NaN,NaN,NaN,2003-06-12 15:32:00,9.0
38838,2003-05-29 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1011.0,17.2,11.6,...,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,2003-06-12 15:32:00,9.0
38839,2003-05-30 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1011.0,20.0,12.2,...,6.0,6.0,6.0,NaN,NaN,NaN,NaN,NaN,2003-06-12 15:32:00,9.0
38840,2003-05-31 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1011.0,17.7,10.5,...,6.0,6.0,6.0,NaN,NaN,NaN,NaN,NaN,2003-06-12 15:32:00,9.0
38841,2003-06-01 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1011.0,24.2,NaN,...,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003-06-12 15:32:00,9.0

The second alternative. It is a bit more concise but not the most efficient

In [49]:
li_mapper = map(lambda filename: pd.read_csv(filename, index_col=None, header=0, skiprows=90), all_csv_files)# It is not possible to input multiple statements into a lambda function so we will try create two lambda functions separately
#li_mapper = map(lambda filename: df.drop(df.tail(n).index,inplace = True), li_mapper) # This too doesn't work because we need to pass the map to the .drop function and not the df. It it just a bit too complicated, so best go with the first basic one
list_2 = list(li_mapper)
df = pd.concat(list_2, axis = 0, ignore_index=True)
df

#This, too, works.

,ob_end_time,id_type,id,ob_hour_count,version_num,met_domain_name,src_id,rec_st_ind,max_air_temp,min_air_temp,...,max_air_temp_q,min_air_temp_q,min_grss_temp_q,min_conc_temp_q,max_air_temp_j,min_air_temp_j,min_grss_temp_j,min_conc_temp_j,meto_stmp_time,midas_stmp_etime
0,1896-01-01 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,NaN,5.6,...,NaN,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1896-01-02 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,10.6,8.9,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1896-01-03 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,11.1,5.6,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1896-01-04 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,8.9,4.4,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1896-01-05 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,7.2,2.8,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38945,2003-05-29 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1011.0,17.2,11.6,...,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,2003-06-12 15:32:00,9.0
38946,2003-05-30 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1011.0,20.0,12.2,...,6.0,6.0,6.0,NaN,NaN,NaN,NaN,NaN,2003-06-12 15:32:00,9.0
38947,2003-05-31 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1011.0,17.7,10.5,...,6.0,6.0,6.0,NaN,NaN,NaN,NaN,NaN,2003-06-12 15:32:00,9.0
38948,2003-06-01 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1011.0,24.2,NaN,...,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003-06-12 15:32:00,9.0
38949,end data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Now the third and most concise method.

In [38]:
list_3 = [pd.read_csv(filename, index_col=None, header=0, skiprows=90) for filename in all_csv_files]
df = pd.concat(list_3, axis = 0, ignore_index=True)
df
#This too works. I am not sure why it did not work the first time
#The implementation of that approach might be different here

,ob_end_time,id_type,id,ob_hour_count,version_num,met_domain_name,src_id,rec_st_ind,max_air_temp,min_air_temp,...,max_air_temp_q,min_air_temp_q,min_grss_temp_q,min_conc_temp_q,max_air_temp_j,min_air_temp_j,min_grss_temp_j,min_conc_temp_j,meto_stmp_time,midas_stmp_etime
0,1896-01-01 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,NaN,5.6,...,NaN,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1896-01-02 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,10.6,8.9,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1896-01-03 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,11.1,5.6,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1896-01-04 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,8.9,4.4,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1896-01-05 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,7.2,2.8,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38945,2003-05-29 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1011.0,17.2,11.6,...,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,2003-06-12 15:32:00,9.0
38946,2003-05-30 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1011.0,20.0,12.2,...,6.0,6.0,6.0,NaN,NaN,NaN,NaN,NaN,2003-06-12 15:32:00,9.0
38947,2003-05-31 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1011.0,17.7,10.5,...,6.0,6.0,6.0,NaN,NaN,NaN,NaN,NaN,2003-06-12 15:32:00,9.0
38948,2003-06-01 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1011.0,24.2,NaN,...,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003-06-12 15:32:00,9.0
38949,end data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

But first, a quick review why method 2 and 3 work - note that method 3 is the exact same as method 2 except implemented on a shorter line of code
li_mapper = map(lambda filename: pd.read_csv(filename, index_col = None, header = 0, skiprows = 90), all_csv_files)

the lambda declaration is used to instantiate a lambda function which is basically a function that continuously iterates itself as long as inputs are available. The filename is the input argument then colon then the actual function that we want to perform iteratively (.read_csv) then the main input argument (think of this as the bucket from which the function is to keep on picking inputs from until it has finished all the inputs then it stops)

In [40]:
#Now to check the cleanness of the data. Let's check the few rows
df.head(20)
#This seems clean

,ob_end_time,id_type,id,ob_hour_count,version_num,met_domain_name,src_id,rec_st_ind,max_air_temp,min_air_temp,...,max_air_temp_q,min_air_temp_q,min_grss_temp_q,min_conc_temp_q,max_air_temp_j,min_air_temp_j,min_grss_temp_j,min_conc_temp_j,meto_stmp_time,midas_stmp_etime
0,1896-01-01 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,NaN,5.6,...,NaN,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1896-01-02 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,10.6,8.9,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1896-01-03 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,11.1,5.6,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1896-01-04 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,8.9,4.4,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1896-01-05 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,7.2,2.8,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
5,1896-01-06 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,3.9,0.6,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
6,1896-01-07 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,6.1,3.3,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
7,1896-01-08 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,8.9,3.9,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
8,1896-01-09 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,6.1,1.1,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
9,1896-01-10 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,2.2,-1.7,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
10,1896-01-11 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,4.4,1.1,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
11,1896-01-12 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,5.0,1.7,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
12,1896-01-13 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,7.2,0.6,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
13,1896-01-14 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,3.3,0.0,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
14,1896-01-15 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,2.2,-1.7,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
15,1896-01-16 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,6.7,0.6,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
16,1896-01-17 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,4.4,2.2,...,169.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
17,1896-01-18 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,9.4,7.8,...,9.0,169.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
18,1896-01-19 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,10.0,3.3,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
19,1896-01-20 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1001.0,9.4,1.1,...,9.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
#Now let us check the last twenty again
df.tail(20)
#Looking at this, I realise we might need to delete the last row. This makes me wonder, were all the csv files like this? I went back and checked and yes, they are all like that. So we need to go back to our data and delete that

,ob_end_time,id_type,id,ob_hour_count,version_num,met_domain_name,src_id,rec_st_ind,max_air_temp,min_air_temp,...,max_air_temp_q,min_air_temp_q,min_grss_temp_q,min_conc_temp_q,max_air_temp_j,min_air_temp_j,min_grss_temp_j,min_conc_temp_j,meto_stmp_time,midas_stmp_etime
38930,2003-05-14 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1011.0,14.3,5.6,...,6.0,6.0,6.0,NaN,NaN,NaN,NaN,NaN,2003-06-12 15:32:00,9.0
38931,2003-05-15 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1011.0,14.0,3.9,...,6.0,6.0,6.0,NaN,NaN,NaN,NaN,NaN,2003-06-12 15:32:00,9.0
38932,2003-05-16 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1011.0,12.6,5.4,...,6.0,6.0,6.0,NaN,NaN,NaN,NaN,NaN,2003-06-12 15:32:00,9.0
38933,2003-05-17 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1022.0,12.0,7.5,...,2006.0,6.0,6.0,NaN,NaN,NaN,NaN,NaN,2003-06-16 12:19:00,0.0
38934,2003-05-18 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1011.0,16.0,7.5,...,6.0,6.0,6.0,NaN,NaN,NaN,NaN,NaN,2003-06-12 15:32:00,9.0
38935,2003-05-19 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1011.0,16.1,8.3,...,6.0,6.0,6.0,NaN,NaN,NaN,NaN,NaN,2003-06-12 15:32:00,9.0
38936,2003-05-20 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1011.0,14.1,7.5,...,6.0,6.0,6.0,NaN,NaN,NaN,NaN,NaN,2003-06-12 15:32:00,9.0
38937,2003-05-21 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1011.0,18.5,8.9,...,2006.0,6.0,6.0,NaN,NaN,NaN,NaN,NaN,2003-06-12 15:32:00,9.0
38938,2003-05-22 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1022.0,16.0,8.7,...,2006.0,6.0,6.0,NaN,NaN,NaN,NaN,NaN,2003-07-24 11:03:00,0.0
38939,2003-05-23 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1011.0,18.4,9.6,...,6.0,6.0,6.0,NaN,NaN,NaN,NaN,NaN,2003-06-12 15:32:00,9.0
38940,2003-05-24 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1011.0,14.0,7.0,...,2006.0,2006.0,NaN,NaN,NaN,NaN,NaN,NaN,2003-07-24 11:05:00,0.0
38941,2003-05-25 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1011.0,15.0,6.5,...,2006.0,2006.0,NaN,NaN,NaN,NaN,NaN,NaN,2003-07-24 11:05:00,0.0
38942,2003-05-26 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1011.0,17.2,6.5,...,6.0,6.0,6.0,NaN,NaN,NaN,NaN,NaN,2003-06-12 15:32:00,9.0
38943,2003-05-27 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1022.0,17.2,11.2,...,6.0,2006.0,6.0,NaN,NaN,NaN,NaN,NaN,2003-07-24 11:06:00,0.0
38944,2003-05-28 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1011.0,16.3,13.0,...,6.0,6.0,6.0,NaN,NaN,NaN,NaN,NaN,2003-06-12 15:32:00,9.0
38945,2003-05-29 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1011.0,17.2,11.6,...,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,2003-06-12 15:32:00,9.0
38946,2003-05-30 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1011.0,20.0,12.2,...,6.0,6.0,6.0,NaN,NaN,NaN,NaN,NaN,2003-06-12 15:32:00,9.0
38947,2003-05-31 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1011.0,17.7,10.5,...,6.0,6.0,6.0,NaN,NaN,NaN,NaN,NaN,2003-06-12 15:32:00,9.0
38948,2003-06-01 09:00:00,DCNN,1646.0,24.0,1.0,DLY3208,251.0,1011.0,24.2,NaN,...,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003-06-12 15:32:00,9.0
38949,end data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Now the next step is to extract the specific columns that we need and save these to the new dataframe. There are several methods to use for this

In [35]:
#Method 1
#This is the first method
new_df = df[["ob_end_time", "max_air_temp", "min_air_temp"]].copy() # This selects the strings that are used to identify the column then paste them to a new dataframe. Note that we still have our index which tells us how many rows we have
new_df

#When run, returns 38842 rows and three columns as specified

               ob_end_time  max_air_temp  min_air_temp
0      1896-01-01 09:00:00           NaN           5.6
1      1896-01-02 09:00:00          10.6           8.9
2      1896-01-03 09:00:00          11.1           5.6
3      1896-01-04 09:00:00           8.9           4.4
4      1896-01-05 09:00:00           7.2           2.8
...                    ...           ...           ...
38837  2003-05-28 09:00:00          16.3          13.0
38838  2003-05-29 09:00:00          17.2          11.6
38839  2003-05-30 09:00:00          20.0          12.2
38840  2003-05-31 09:00:00          17.7          10.5
38841  2003-06-01 09:00:00          24.2           NaN

[38842 rows x 3 columns]

In [56]:
#Method 2
#This is the second method
df_2 = df.filter(["ob_end_time", "max_air_temp", "min_air_temp"], axis = 1) # Identifies the selected columns, filters them and pastes them to a new dataframe. What does the axis = 1 mean though?
df_2.tail(50)
#This, too, works

               ob_end_time  max_air_temp  min_air_temp
38792  2003-04-13 09:00:00          13.5           3.8
38793  2003-04-14 09:00:00          14.7           7.2
38794  2003-04-15 09:00:00          18.1           7.0
38795  2003-04-16 09:00:00          16.0           5.9
38796  2003-04-17 09:00:00          16.4           5.0
38797  2003-04-18 09:00:00          16.4           5.0
38798  2003-04-19 09:00:00          14.8           5.0
38799  2003-04-20 09:00:00          12.0           6.0
38800  2003-04-21 09:00:00          12.0           4.8
38801  2003-04-22 09:00:00           9.7           6.0
38802  2003-04-23 09:00:00          12.4           4.5
38803  2003-04-24 09:00:00          15.6           4.6
38804  2003-04-25 09:00:00           8.8           4.2
38805  2003-04-26 09:00:00          12.8           7.4
38806  2003-04-27 09:00:00          14.5           7.5
38807  2003-04-28 09:00:00          14.9           7.6
38808  2003-04-29 09:00:00          10.4           7.8
38809  2003-04-30 09:00:00          14.5           6.9
38810  2003-05-01 09:00:00          11.6           5.6
38811  2003-05-02 09:00:00          10.4           5.1
38812  2003-05-03 09:00:00          11.8           4.8
38813  2003-05-04 09:00:00          12.8           7.5
38814  2003-05-05 09:00:00          15.9           5.8
38815  2003-05-06 09:00:00          12.3           6.9
38816  2003-05-07 09:00:00          13.5           5.7
38817  2003-05-08 09:00:00          13.8           6.8
38818  2003-05-09 09:00:00          13.8           5.0
38819  2003-05-10 09:00:00          13.0           4.5
38820  2003-05-11 09:00:00          13.4           6.2
38821  2003-05-12 09:00:00          12.7           4.4
38822  2003-05-13 09:00:00          11.0           4.2
38823  2003-05-14 09:00:00          14.3           5.6
38824  2003-05-15 09:00:00          14.0           3.9
38825  2003-05-16 09:00:00          12.6           5.4
38826  2003-05-17 09:00:00          12.0           7.5
38827  2003-05-18 09:00:00          16.0           7.5
38828  2003-05-19 09:00:00          16.1           8.3
38829  2003-05-20 09:00:00          14.1           7.5
38830  2003-05-21 09:00:00          18.5           8.9
38831  2003-05-22 09:00:00          16.0           8.7
38832  2003-05-23 09:00:00          18.4           9.6
38833  2003-05-24 09:00:00          14.0           7.0
38834  2003-05-25 09:00:00          15.0           6.5
38835  2003-05-26 09:00:00          17.2           6.5
38836  2003-05-27 09:00:00          17.2          11.2
38837  2003-05-28 09:00:00          16.3          13.0
38838  2003-05-29 09:00:00          17.2          11.6
38839  2003-05-30 09:00:00          20.0          12.2
38840  2003-05-31 09:00:00          17.7          10.5
38841  2003-06-01 09:00:00          24.2           NaN

The next question is how to identify the rows that have the NaN values

In [51]:
df_2[df_2.isna().any(axis = 1)]
#When run, this reveals that there is 1005 rows with NaN values

               ob_end_time  max_air_temp  min_air_temp
0      1896-01-01 09:00:00           NaN           5.6
1757   1900-10-24 09:00:00          11.7           NaN
4397   1908-01-16 09:00:00           NaN           NaN
6878   1914-11-01 09:00:00           9.4           NaN
6879   1914-12-01 09:00:00           NaN           4.4
...                    ...           ...           ...
38259  2001-10-15 09:00:00           NaN          11.0
38272  2001-11-01 09:00:00           NaN           5.0
38451  2002-04-29 09:00:00          11.4           NaN
38690  2003-01-01 09:00:00           NaN           1.5
38841  2003-06-01 09:00:00          24.2           NaN

[1005 rows x 3 columns]

When we look at the data, however, we notice that there are certain datapoints that are missing. There are several methods to deal with this. Key resource is here on how to go about it https://towardsdatascience.com/8-methods-for-handling-missing-values-with-python-pandas-842544cdf891
The point is, we could delete the rows that have the missing data
We could set a threshold and say if a row has more than three missing data, then we need to get rid of it
We could also replace all the missing data with 0
But in this case, we are dealing with time series so the best is either to replace with previous value, next value or average. Why? This is temperature data

In [53]:
#Method one, replacing all the datapoints with 0
new_df = new_df.fillna(0) # This replaces all the NaN values with 0s. Is this the best statistical approach though? Worth checking with the lecturers on
new_df
#When run, all the datapoints that were NaN are now 0s
new_df[new_df.isna().any(axis = 1)] #When this is run, we realise that all of them have been removed. However, it is not the most optimal approach

Empty DataFrame
Columns: [ob_end_time, max_air_temp, min_air_temp]
Index: []

Before that, an important step would have been to identify where is missing values before proceeding. Can we use filtering with this? I am not sure how to do this but it might be worthwhile to look it up later on.

In [54]:
# # import missingno as msn
# # msn.matrix(df_2)
# x = df_2.isnull() #This returns true or false. Where there is actual data, it returns false, where there is NaN data, it returns True
# new_df_2 = df_2.loc[df ==False]
# new_df_2
# #For some reason, this is not working.
# #This is not important for us for now but we can always come back to it later on when we want to visualise it

In [57]:
#Method 2
df_2.fillna(method = "bfill", limit = 1) #bfill fills the missing values backwards such that the next value replace the NaN value. The limit = 1 ensures that all the it is only the next one-step value that replaces the previous one. This is usefull where a column has several NaNs and there is fear that if we don't have a limit, we will end up filling the entire column with the same data
df_2[df_2.isna().any(axis = 1)] # When run, this returns 1005 as usual hence no filtration has happened yet

               ob_end_time  max_air_temp  min_air_temp
0      1896-01-01 09:00:00           NaN           5.6
1757   1900-10-24 09:00:00          11.7           NaN
4397   1908-01-16 09:00:00           NaN           NaN
6878   1914-11-01 09:00:00           9.4           NaN
6879   1914-12-01 09:00:00           NaN           4.4
...                    ...           ...           ...
38259  2001-10-15 09:00:00           NaN          11.0
38272  2001-11-01 09:00:00           NaN           5.0
38451  2002-04-29 09:00:00          11.4           NaN
38690  2003-01-01 09:00:00           NaN           1.5
38841  2003-06-01 09:00:00          24.2           NaN

[1005 rows x 3 columns]

An alternative way to obtain this kind of info is to use the .info method

In [58]:
df_2.info()
#When run , we are told that on the ob_end column, we have 38842 non-null objects which means all of them are clean
#However, max_air_temp has 38343 non-null objects meaning the rest are null
#Additionally, the min_air_temp has 38005 non-null objects which makes it the column with the largest null values
#If you think about the fact that we have 38000 datapoints, getting rid of 1000 would not make so much of a difference. In fact, this would be the easiest solution. But we can find alternative ways.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38842 entries, 0 to 38841
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ob_end_time   38842 non-null  object
 1   max_air_temp  38343 non-null  float64
 2   min_air_temp  38005 non-null  float64
dtypes: float64(2), object(1)
memory usage: 910.5+ KB

In [61]:
#Method 3 - replace all the missing values with the average value
#The previous method seems to bring up a bit of problem (I think there is some missing knowledge points but we will get it over time)
df_2["max_air_temp"].fillna(df_2.groupby("ob_end_time")["max_air_temp"].transform("median"), inplace = True)
df_2["min_air_temp"].fillna(df_2.groupby("ob_end_time")["min_air_temp"].transform("median"), inplace = True)
df_2.info()
#This still does not work so we will have to go with the easiest alternative - to delete the ones that contains the null values.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38842 entries, 0 to 38841
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ob_end_time   38842 non-null  object
 1   max_air_temp  38343 non-null  float64
 2   min_air_temp  38005 non-null  float64
dtypes: float64(2), object(1)
memory usage: 910.5+ KB

The third but most basic option is to delete the NaN rows. We are going with this because we will be deleting 1000 out of 38000 datapoints which should, hopefully, not make much of a difference

In [62]:
df_2 = df_2.dropna()
df_2.info() #This has reduced it to 37837 entries

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37837 entries, 1 to 38840
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ob_end_time   37837 non-null  object
 1   max_air_temp  37837 non-null  float64
 2   min_air_temp  37837 non-null  float64
dtypes: float64(2), object(1)
memory usage: 1.2+ MB